<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
</head>

<body>

    <div id="DivTwo">
        <form action="/show">
            <input type="submit" value="Show Message">
        </form>
    </div>
    <form action="submit" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <h3> Enter Name <input required type="text" name="name" value="{{name}}"></h3><br>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Enter Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="20" name="msg"></textarea>
        </div>
        <div>
            <button type="submit">Send</button>
        </div>
    </form>
    <div id="OneDiv">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Message</th>
                    <th>image</th>
                    <th>datetime</th>
                </tr>
            </thead>
            <tbody id="display">
                {% for d in data %}
                <tr>
                    <td>{{d.name}}</td>
                    <td>{{d.msg}}</td>
                    <td>{{d.image}}</td>
                    <td>{{d.created_at}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: "{% url 'showdata' %}",
                    success: function (response) {
                        $('#display').empty();
                        for (var key in response.data) {
                            console.log(response);
                            var temp = '<tr><td>' + response.data[key].name + '</td><td>' + response.data[key].msg + '</td><td>' + response.data[key].image +  '</td><td>' + response.data[key].created_at + '</td></tr>';
                            $('#display').append(temp);
                        }

                    },
                    error: function (response) {

                    }
                });
            }, 1000);
        });
    </script>

</body>

</html>